<footer class="one-footer">
  <div class="one-contents">
    <div class="one-footer-head">
      <img src="../assets/images/logo-footer.svg" alt="" />
    </div>
    <div class="one-footer-text">
      <dl>
        <dt>학습지원센터</dt>
        <dd><a href="">1588-0000</a></dd>
      </dl>
      <p>
        <span>평일 : 09:00~18:00</span>
        <span>토요일 : 09:00~13:00</span>
        <span>점심시간 : 12:00~13:00</span>
      </p>
      <p>
        <span>*공휴일 휴무</span>
      </p>
    </div>
    <div class="one-footer-foot">
      <div class="one-footer-menu">
        <a href="">개인정보처리방침</a>
        <a href="">이용약관</a>
      </div>
      <div class="one-footer-copyright">
        ⓒBAE, KIM & LEE LLC. ALL RIGHTS RESERVED.
      </div>
    </div>
  </div>
</footer>
