<header class="one-header">
  <div class="one-contents">
    <a href="/pages/" class="one-header__logo">
      <img src="../assets/images/logo.svg" alt="법무법인(유한) 태평양" />
    </a>
    <div class="one-header-menu">
      <a href="">교육과정</a>
      <a href="">법률자료실</a>
      <a href="">소통채널</a>
      <a href="">나의학습방</a>
      <p>
        <a href="">로그인</a>
        <a href="">회원가입</a>
        <a href="">고객센터</a>
      </p>
    </div>
    <button type="button" class="one-header-menu__toggle">메뉴 열기</button>
  </div>
</header>
